body {
  background-color: #f4f5f6;

  font: 12px "Raleway", Arial, Helvetica, Geneva, sans-serif;
  color: #9aa6af;
  text-rendering: optimizelegibility;

  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

  -moz-tap-highlight-color:rgba(0,0,0,0);
  -moz-text-size-adjust: none;
  -moz-font-smoothing: antialiased;

  -ms-tap-highlight-color:rgba(0,0,0,0);
  -ms-text-size-adjust: none;
  -ms-font-smoothing: antialiased;
}
a {text-decoration: none;}

.container {
  overflow: hidden;
  background-color: #f4f5f6;

/*  Prevents Flickering  */
  -webkit-backface-visibility: hidden;
/*  -moz-backface-visibility: hidden;
*/  -ms-backface-visibility: hidden;
}

/* Logo */
.logo-wrapper {
  margin: 0;
  padding: 0;

  font-size: 1em;
}

.logo-wrapper a {
    height: 50px;
    margin: 10px 0 0 1%;
    padding: 0;
    width: 50px;
    float: left;
    background: transparent url("../img/logo.svg") center center;
    /* background-size: 50px auto; */
    transition: none;
    font-size: 1.5em;
    line-height: 1.3;
    /* text-indent: 100%; */
    white-space: nowrap;
}

/*.logo-wrapper a:hover,
.logo-wrapper a:focus,
.logo-wrapper a:active {
    height: 50px;
    margin: 10px 0 0 1%;
    padding: 0;
    width: 50px;
    float: left;
    background: transparent url("../img/logo-hvr.svg") center center;
    background-size: 50px auto;
    transition: none;
    font-size: 1.5em;
    line-height: 1.3;
    text-indent: 100%;
    white-space: nowrap;
    opacity: 0.7;
}*/

.logo-wrapper a span{
    position: relative;
    top: 13px;
    left: 60px;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.logo-wrapper a span:active,
.logo-wrapper a span:hover,
.logo-wrapper a span:focus{
  color: #448AFF;
}

.logo-wrapper a:visited{
  color: #455A64;
}

nav a:visited {
  color: #455A64;
}

/* Header */

header {
  position: relative;
  background-color: #fff;
  top: 0;
  right: 0;
  left: 0;
  height: 64px;
}

header h1 {
  text-align: left;
  font-size: 27px;
  line-height: 60px;
  font-weight: bold;
  padding-left: 20px;
}

header h1 a:link{
  color: rgba(0,0,0,0.7);
}

header h1 a:hover{
  color: #448AFF;
}

.burger {
  position: absolute;
  float: left;
  padding: 10px;
  top: 4px;
  left: 10px;
  cursor: pointer;

  display: none;
}
.burger li {
  width: 30px;
  height: 4px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
  margin: 5px 0;
}
.burger.open li {background-color: rgba(0,0,0,0.7);}

nav {
  position: absolute;
  top: 0;
  right: 5px;
}

nav a:visited {
  color: rgba(0,0,0,0.7);
}
nav li {
  float: left;

  display: inline-block;
}
nav li a {
  font-size: 13px;
  color: #fff;
  padding: 35px 15px;
  font-weight: 600;
  display: block;
}
nav li a:hover {color: #448AFF;}

.nav-items {
    list-style: none;
    white-space: nowrap;
    display: inline-block;
}



/*  Removable CSS  */

.header-section,
.body-section,
.footer-section
{padding: 0px;}

.footer-section{
  height: 80px;
}

footer{
  clear: both;
}

.header-section {background-color: #ffffff;}
.body-section {background-color: #f4f5f6;}
.footer-section {background-color: #fff; border-top: 2px solid rgba(0,0,0,0.7);}
/*.placefiller {
  text-align: center;
  font-size: 20px;
  border: 1px dashed rgba(190, 196, 202, 0.5);
}
.header-section .placefiller {line-height: 300px;}
.body-section .placefiller {line-height: 900px;}
.footer-section .placefiller {
  line-height: 200px;
  border: 1px dashed rgba(190, 196, 202, 0.9);
}*/

.footer__copyright{
  color: rgba(0,0,0,0.7);
  float: right;
  position: relative;
  margin-right: 2rem;
}

@media only screen and (max-width: 780px) {

#header_nav, header {
  height: 75px;
  z-index: 3;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

    /* starting point */
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

header h1 {
  color: rgba(0,0,0,0.7);
  text-align: center;
  padding-left: 0;
  display: block;
}
.burger {display: block;}

.footer__copyright{
  color: rgba(0,0,0,0.7);
  text-align: center;
}

.logo-wrapper a{
  height: 40px;
  margin: 10px 50% 0 47%;
  padding: 0;
  width: 40px;
  float: left;
  transition: none;
  background: transparent url("../img/logo.svg") no-repeat center center;
  background-size: 40px auto;

  font-size: 1.5em;
  line-height: 1.3;
  /*text-indent: 100%;*/
  white-space: nowrap;
}

.logo-wrapper a span{
  position: relative;
  top: 38px;
  left: -29px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

/*  Nav Drawer Layout  */
nav {position: relative;}

nav ul {
/*  height: 100%;*/
  overflow-y: auto;
}
nav li {
  display: block;
  float: none;
}
nav li a {
  padding: 22px 25px;
  letter-spacing: 3px;
  font-size: 14px;
}
nav li a.logo {
  display: none;
}
nav li a.active {
    color: rgba(0,0,0,0.7);
}

nav li a:hover {
  color: #fff;
  background-color: #19252c;
}
nav li:first-child a.active,
nav li:first-child a:hover
{border-radius: 10px 0 0 0;}

.header-section {margin-top: 60px;}


/* NAVIGATION ANIMATION */
nav {
  width: 93%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 8px;

  /* starting point */
  opacity: .3;
  -webkit-transform: translate3d(5%,0,0)scale(.97);
  -moz-transform: translate3d(5%,0,0)scale(.97);
  transform: translate3d(5%,0,0)scale(.97);
}

/*Nav Expanding Open Effect*/
nav.open {
  opacity: 1;

  -webkit-transform: translate3d(0,0,0)scale(1);
  -webkit-animation: slideIn .35s ease-in-out;

  -moz-transform: translate3d(0,0,0)scale(1);
  -moz-animation: slideIn .35s ease-in-out;

  transform: translate3d(0,0,0)scale(1);
  animation: slideIn .35s ease-in-out;
}
@-webkit-keyframes slideIn {
  0%       {opacity: .3;
        -webkit-transform: translate3d(5%,0,0)scale(.97);}
  100%  {opacity: 1;
        -webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideIn {
  0%      {opacity: .3;
        -moz-transform: translate3d(5%,0,0)scale(.97);}
  100%  {opacity: 1;
        -moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideIn {
  0%      {opacity: .3;
        transform: translate3d(5%,0,0)scale(.97);}
  100%  {opacity: 1;
        transform: translate3d(0,0,0)scale(1);}
}

/*Nav Shrinking Closed Effect*/
nav.close {
  opacity: .3;

  -webkit-transform: translate3d(5%,0,0)scale(.97);
  -webkit-animation: slideOut .3s ease-in-out;

  -moz-transform: translate3d(5%,0,0)scale(.97);
  -moz-animation: slideOut .3s ease-in-out;

  transform: translate3d(5%,0,0)scale(.97);
  animation: slideOut .3s ease-in-out;
}
@-webkit-keyframes slideOut {
  0%      {opacity: 1;
        -webkit-transform: translate3d(0,0,0)scale(1);}
  100%  {opacity: .3;
        -webkit-transform: translate3d(5%,0,0)scale(.97);}
}
@-moz-keyframes slideOut {
  0%      {opacity: 1;
        -moz-transform: translate3d(0,0,0)scale(1);}
  100%  {opacity: .3;
        -moz-transform: translate3d(5%,0,0)scale(.97);}
}
@keyframes slideOut {
  0%      {opacity: 1;
        transform: translate3d(0,0,0)scale(1);}
  100%  {opacity: .3;
        transform: translate3d(5%,0,0)scale(.97);}
}



/* CONTENT ANIMATION */
.content {
  /* starting point */
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 1;
}

/*Content Sliding Open Effect*/
header.open,
.content.open
{
  -webkit-transform: translate3d(240px,0,0);
  -webkit-animation: open .5s ease-in-out;

  -moz-transform: translate3d(240px,0,0);
  -moz-animation: open .5s ease-in-out;

  transform: translate3d(240px,0,0);
  animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
  0%      {-webkit-transform: translate3d(0,0,0);}
  70%    {-webkit-transform: translate3d(260px,0,0);}
  100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes open {
  0%      {-moz-transform: translate3d(0,0,0);}
  70%    {-moz-transform: translate3d(260px,0,0);}
  100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes open {
  0%      {transform: translate3d(0,0,0);}
  70%    {transform: translate3d(260px,0,0);}
  100%  {transform: translate3d(240px,0,0);}
}

/*Content Sliding Closed Effect*/
header.close,
.content.close
{
  -webkit-transform: translate3d(0,0,0);
  -webkit-animation: close .3s ease-in-out;

  -moz-transform: translate3d(0,0,0);
  -moz-animation: close .3s ease-in-out;

  transform: translate3d(0,0,0);
  animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
  0%      {-webkit-transform: translate3d(240px,0,0);}
  100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
  0%       {-moz-transform: translate3d(240px,0,0);}
  100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
  0%       {transform: translate3d(240px,0,0);}
  100%  {transform: translate3d(0,0,0);}
}

}

/*Social Icons*/

.hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.social{
  clear: both;
  padding: 0.5rem 1rem;
  margin: 0;
}

.social li a,
.social li a:link,
.social li a:visited{
  font-size: 1.5rem;
  float: left;
  display: block;
  height: 48px;
  width: 40px;
  margin-right: 1rem;
  padding-top: .8531rem;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px !important;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 30px #448AFF;
  -moz-box-shadow: inset 0px 0px 0px 30px #448AFF;
  -ms-box-shadow: inset 0px 0px 0px 30px #448AFF;
  -o-box-shadow: inset 0px 0px 0px 30px #448AFF;
  box-shadow: inset 0px 0px 0px 30px #448AFF;
}

.social li a:hover,
.social li a:focus,
.social li a:active{
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 0px 3px #fff;
  -ms-box-shadow: inset 0px 0px 0px 3px #fff;
  -o-box-shadow: inset 0px 0px 0px 3px #fff;
  box-shadow: inset 0px 0px 0px 3px #fff;
  color: #fff;
}

.social2{
  display: none;
}

.fa-behance{
  margin-left: -12px;
  position: absolute;
}

.fa-twitter{
  margin-left: -9px;
  position: absolute;
}

.fa-vimeo-square{
  margin-left: -9px;
  position: absolute;
}

.fa-linkedin{
  margin-left: -9px;
  position: absolute;
}

.fa-envelope{
  margin-left: 13px;
  position: absolute;
}

@media only screen and (min-width: 780px) {

.social2{
  clear: both;
  padding: 0.5rem 1rem;
  margin: 0;
  display: block;
}

.social2 li a,
.social2 li a:link,
.social2 li a:visited{
  font-size: 1.5rem;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  padding-top: .8531rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px !important;
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 25px #448AFF;
  -moz-box-shadow: inset 0px 0px 0px 25px #448AFF;
  -ms-box-shadow: inset 0px 0px 0px 25px #448AFF;
  -o-box-shadow: inset 0px 0px 0px 25px #448AFF;
  box-shadow: inset 0px 0px 0px 25px #448AFF;
}

.social2 li a:hover,
.social2 li a:focus,
.social2 li a:active{
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 0px 3px #fff;
  -ms-box-shadow: inset 0px 0px 0px 3px #fff;
  -o-box-shadow: inset 0px 0px 0px 3px #fff;
  box-shadow: inset 0px 0px 0px 3px #fff;
  color: #101010;
}

.fa2{
margin-left: 15px;
position: absolute;
}

.behance2{
  margin-left: 12px;
}
}
