/*´¨`*.¸¸.*´¨`*.¸ TYPOGRAPHY ¸.*´¨`*.¸¸.*´¨`*.¸¸.*
  Colour Palette
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }
 */

html {
  /*background-color: #EEEEEE;*/

  color: #212121;
  font: normal 100%/1.5 'PT Serif', Georgia, Times, serif;
  font-size: 1rem;
  line-height: 1.50rem;
}

.yotta {
  font-weight: 600;
  font-size: 2.2807rem;
  line-height: 1.3154;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 1.4798;
}

h1, .exa {
  font-size: 2.500rem;
  line-height: 3.375rem;
}

h2, .peta {
  font-size: 2.802rem;
  line-height: 1.6648;
  text-align: center;
  font-weight: bold;
  margin: none;
}

h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.4;
}

h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.1852;
}

h5, .mega {
  font-size: 1.1250rem;
  line-height: 1.3333;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8889rem;
  line-height: 1.6875;
}

.micro {
  font-size: 0.7901rem;
  line-height: 1.8984;
}

p{
  color: #212121;
  font: normal 100%/1.5 'PT Serif', Georgia, Times, serif;
  font-size: 18px;
  line-height: 32px;
}

em{
  font-style: italic;
}

strong{
  font-weight: 700;
}

.push {
  margin-bottom: 1.5rem;
}

.push-none, .push-0 {
  margin-bottom: 0;
}

.push-double, .push-2 {
  margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
  margin-bottom: 0.7500rem;
}

.pad-top, .pad-t {
  padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
  padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
  padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
  padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
  padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
  padding-bottom: 0.7500rem;
}

.island {
  padding: 0.5rem 1.5rem;
}

.island-half, .island-1-2 {
  padding: 0.7500rem;
}

.island-double, .island-2 {
  padding: 3.0000rem;
}

.gutter {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.gutter-half, .gutter-1-2 {
  padding-left: 0.7500rem;
  padding-right: 0.7500rem;
}

.gutter-double, .gutter-2 {
  padding-left: 3.0000rem;
  padding-right: 3.0000rem;
}


h1, h2, h3, h4, h5, h6,
.brand {
  color: #727272;
  font-family: 'Raleway',sans-serif;
}

.brand-family {
  font-family: 'Raleway',sans-serif;
}

.brand-color {
  color: #448AFF;
}

a,
a:link {

  transition: all 150ms linear;

  color: rgba(0,0,0,0.7);
  text-decoration: none;
}

a:visited {
  color: #455A64;

}

a:hover,
a:focus,
a:active {
  color: #448AFF;
}

a:hover,
a:active {
  /* It's okay to remove the focus rectangle for mouse states */
  outline: none;
}

a:focus,
input:focus,
button:focus {
  /* The focus rectangle MUST ALWAYS be visible for keyboard states */
  outline: 3px solid #448AFF;
}

.block-link {
  display: block;
}

sup,
sub {
  line-height: 1;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
}

abbr {
  border-bottom: 0.1em dotted rgba(0,0,0,0.5);

  cursor: help;
}

ins {
  border-bottom: 0.1em dotted rgba(0,0,0,0.5);

  color: #000;
  text-decoration: none;
}

del {
  color: rgba(0,0,0,0.5);
}

mark {
  background-color: #F89107;
}

hr {
  border: 0;
  border-bottom: 1px solid #c7c0ae;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

ol {
  padding: 0;
}

ul {
  padding: 0;

  list-style-type: none;
}

ul li {
  position: relative;
}

ul li:before {
  /*content: "•";*/
  position: absolute;
  left: -0.6em;

  color: #c7c0ae;
}

blockquote {
  padding-left: 1.5rem;
  background-color: #C94613;
  border-left: 4px solid #c7c0ae;
  padding: 1.5rem;
}

blockquote footer {
  margin-top: -1.5rem;

  text-align: right;
}

blockquote p {
  color: #fff;
}

table {
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
}

caption {
  font-style: italic;
}

th {
  background-color: #eae8e1;

  text-align: left;
}

th, td {
  padding: 0.25rem;

  border: 1px solid #c7c0ae;
}

@media only screen and (max-width: 780px) {

h3{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
